@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    height: 80px;
    width: 100%;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 60px;
}

header .activationProfil{
    font-size: 27px;
    color: #5E17EB;
}

header .profil{
    position: absolute;
    background-color: white;
    border: #5E17EB 2px solid;
    z-index: 5;
    top:-2px;
    right: -2px;
    padding: 20px;
    border-bottom-left-radius: 10px;

}
.profil p{
    padding: 10px;
    font-size: 18px;
    color: initial;
}

.hideNavProfil .profil{
    display: none;
}
.supprMenu{
    position: sticky;
    top : 0;
    margin-top: -80px;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}
.hideNavProfil .supprMenu {
    position: initial;
    top : initial;
    left: initial;
    height: initial;
    width: initial;
    display: none;
    z-index: 4;
}
.profil p:hover{
    background-color: #5E17EB;
    color: white;
    border-radius: 3px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search{
    position: absolute;
    top: 24px;

    border: #5E17EB 2px solid;
    border-radius: 5px;
    padding: 3px;
}
#card{
    max-width: 1200px;

}
@media screen and (min-width: 768px){
    #card{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1050px){
    #card{
        justify-content: space-around;
    }
}

#card{
    width: 100%;
}

#card .cardCarouselHome{
    margin-left: 5%;
    margin-top: 20px;
    height: 400px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #b7b6b6;
}

#card .cardCarouselImage{
    width: 100%;
    height: 40%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
#card .cardCarouselDescriptionLogo{
    height: 90px;
    z-index: 3;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#card .cardCarouselLogo{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: white;
    top: -50px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: #e8e8e8 2px solid;
}

#card .cardCarouselDescription{
    margin-top: 100px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 768px){

    #card .cardCarouselHome{
        width: 380px;
        margin: 10px;
    }
}

#home{
    display: flex;
    justify-content: center;
}

.pagehomecenter{
    height: calc(100vh - 72px);
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
}
#home img{
    object-fit: cover;
    position: absolute;
    min-width: 100%;
    min-height: 100%;

}
#association div{
    height: 100vh;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

#bonPlans div{
    border-left: white 4px solid;
    margin-left: -2px;
    height: 100vh;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

#association p{
    position: absolute;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
}

#bonPlans p{
    position: absolute;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
}

@media screen and (min-width: 768px){

    .pagehomecenter{
        width: 90%;
        max-width: 1200px;
        align-items: center;
        justify-content: space-between;
    }
    #association div{
        height: 350px;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

    }
    #bonPlans div{
        border-left: initial;
        height: 350px;
        width: 350px;
        rotate: 0deg;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

}

@media screen and (min-width: 1050px){
    .pagehomecenter{
        height: calc(100vh - 84px);
    }
    #association div{
        height: 400px;
        width: 470px;
        border-radius: 10px;

    }
    #bonPlans div{
        height: 400px;
        width: 470px;
        border-radius: 10px;
    }

    #association p{
    }

    #bonPlans p{
    }
}

#description{
    height: calc(100vh - 72px);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#description .imagePrincipal{
    object-fit: cover;
    width: 100%;
    height: 110px;
}

#description .logo{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    object-fit: cover;
    width: 90px;
    height: 90px;
    padding: 5px;
    border-bottom: #e8e8e8 2px solid;
    background-color: white;
    border-radius: 10px;
}

#description div{
    box-shadow: 0 0 10px #5d5d5d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: calc(100%  - 100px);;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 100px;
}

#description h1{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

#description p{
    border-top: #e8e8e8 2px solid;
    padding-top: 10px;
    margin: 10px 10px;
}

@media screen and (min-width: 768px){
    #description p{
        margin: 10px 20px;
    }
    #description div{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}
@media screen and (min-width: 1050px){
    #description{
        height: calc(100vh - 84px);
    }
    #description .imagePrincipal{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    #description div{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 80%;
        max-width: 1200px;
    }
}



