#home{
    display: flex;
    justify-content: center;
}
.heycpasouf{
    margin-right: 20px;
}

.uoeza div{
    display: flex;
    flex-direction: column;
    width: 1200px;
}
.uoeza #description{
    height: 100px;
}
.ouiOnEspaceUnPeu{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.pagehomecenter{
    height: calc(100vh - 72px);
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
}

header nav div a{
    margin: 5px;
}
.filtreDeCategorie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 10px;
}
.printPage{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.printPage .changePage{
    display: flex;
    align-items: center;
}
.changePage p{
    margin-right: 10px;
    margin-left: 10px;

}
.printPage select{
    border: #5E17EB 2px solid;
    border-radius: 5px;
}
.buttonPropre{
    border: #5E17EB 2px solid;
    border-radius: 5px;
    padding: 10px;
}
.buttonPropre:hover{
    background-color: #5E17EB;
    color: white;
}
.changePage button{
    background-color: #5E17EB;
    color: white;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    height: 34px;
}
.filtreDeCategorie button{
    border: #5E17EB 2px solid;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}
.filtreDeCategorie button:hover{
    background-color: #5E17EB;
    color: white;
}
#home img{
    object-fit: cover;
    position: absolute;
    min-width: 100%;
    min-height: 100%;

}
#association div{
    height: 100vh;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

#bonPlans div{
    border-left: white 4px solid;
    margin-left: -2px;
    height: 100vh;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

#association p{
    position: absolute;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
}

#bonPlans p{
    position: absolute;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
}

@media screen and (min-width: 768px){
    .pagehomecenter{
        width: 90%;
        max-width: 1200px;
        align-items: center;
        justify-content: space-between;
    }
    #association div{
        height: 350px;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

    }
    #bonPlans div{
        border-left: initial;
        height: 350px;
        width: 350px;
        rotate: 0deg;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

}

@media screen and (min-width: 1050px){
    .pagehomecenter{
        height: calc(100vh - 84px);
    }
    #association div{
        height: 400px;
        width: 470px;
        border-radius: 10px;

    }
    #bonPlans div{
        height: 400px;
        width: 470px;
        border-radius: 10px;
    }

    #association p{
    }

    #bonPlans p{
    }
}
